---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2 style="margin-bottom:0px;">
          <span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">&nbsp;{{ post.title }}</a></span>
        </h2>
        <span class="post-meta">&nbsp;&nbsp;{{ post.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <!-- <span class="post-meta">{{ post.excerpt }}</span> -->
        {% for tag in post.tags %}
          <span class="post-tag post-meta"><a href="{{ site.baseurl }}tags/{{ tag }}">#{{tag}}&nbsp;</a></span>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
