/**
 * Site header
 */
.site-header {
    // border-top: 10px solid $grey-color-dark;
    // border-left: 10px solid $grey-color-dark;
    // border-right: 10px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-title a:hover {
  text-decoration: none;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
         border-radius: 5px;
         border: 2px solid $brand-color;
         padding: 0.25em 0.5em;
         transition: background-color 0.3s ease;
          -webkit-transition: background-color 0.3s ease;
         -moz-transition: background-color 0.3s ease;
         -ms-transition: background-color 0.3s ease;
         -o-transition: background-color 0.3s ease;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    .page-link:hover {
      text-decoration: none;
      background-color: $brand-color;
      color: white;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color;
    padding: $spacing-unit 0;
    // border-left: 10px solid $grey-color-dark;
    // border-right: 10px solid $grey-color-dark;
    // border-bottom: 10px solid $grey-color-dark;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    // border-left: 10px solid $grey-color-dark;
    // border-right: 10px solid $grey-color-dark;
}

.page-heading {
    font-size: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size / 1.2;
    color: $grey-color;
}

.post-link {
    // display: block;
    font-size: 24px;
    margin-bottom: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
     -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
.post-link:hover {
    text-decoration: none;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right:5px;
    background-color: $brand-color;
    color: white;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    // text-transform: uppercase;
    color: $brand-color;
    // text-shadow: 1px 1px 3px #000000;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: 0em;
    // margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-tag a{
    // background-color: yellow;
    font-size: $small-font-size/1.2;
    text-transform: lowercase;
    background-color: $grey-color-light;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    border:0px solid $brand-color;
    text-decoration: none;
}
.nav-prev, .nav-next {
    border: 1px solid $brand-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
}
.nav-prev:hover, .nav-next:hover {
    background-color: $brand-color;
    color: white;
    text-decoration: none;
}
.post-tag a:hover {
  background-color: $grey-color-dark;
  color: white;
}
.nav-prev {
    float: left;
}
.nav-next {
    float: right;
}
.post-content{

	// > p:first-of-type:first-letter {
	// 	float: left;
	// 	font-size: 100px;
	// 	line-height: 80px;
	// 	padding-top: 4px;
	// 	padding-right: 8px;
	// }
  > p:first-of-type:first-letter
    { float: left;
      color: $text-color;
      font-size: 75px;
      padding-top: 4px;
      line-height: 50px;
      padding-right: 8px;
      padding-left: 3px;
      font-family: Georgia;
    }

}

hr {
    border: 0;
    display: block;
    height: 1px;
    background: #d5d9dd;
    clear: both;
    margin: 1rem 0;
}
pre, code {
  font-family: Hack, monospace;
}
