---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1684167555149866";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <hr>
  <br>
  <article class="post-content">
     {{content}}
  </article>
  <br>
  <hr>
  <div>
    <span>tags:</span>
{% for tag in page.tags %}
<span class="post-tag"><a href="{{ site.baseurl }}/tags/{{ tag }}">#{{tag}}&nbsp;</a></span>
{% endfor %}
  </div>
  <br>
  <div
  class="fb-like"
  data-share="true"
  data-width="300"
  data-show-faces="true">
  </div>
  <br><br>
  <p> Notice any issues in this post? You can <a href="https://github.com/arjunnn/blog/issues/new">fix it or raise an issue</a> on GitHub.</p>
  {% if page.previous %}
        <a rel="prev" class="nav-prev" href="{{ page.previous.url | prepend: site.baseurl }}">&larr; Older</a>
    {% endif %}
    {% if page.next %}
        <a rel="next" class="nav-next" href="{{ page.next.url | prepend: site.baseurl }}">Newer &rarr;</a>
    {% endif %}
</div>
<!-- <div class="fb-comments" data-href="{{ page.url | prepend: site.baseurl }}" data-numposts="5"></div> -->
