---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Published on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
     
  </article>
  <div>
  
    <span>tags:</span>
{% for tag in page.tags %}
    <span style="background-color: yellow;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding-left:5px;padding-right:5px;border:0em solid #000000">{{tag}}</span>
{% endfor %}

  </div>
</div>
